<div class="home-container">
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/1c7b75d8ed9271516546560d219ad0b22ee0a263b4537bd8.png"
    gameLabel="Digital Game"
    gameType="Digital Game | PS5 | PS4"
    gamePrice="R$ 199,90"
  ></app-card>
  <app-card
    gameCover="https://i.ytimg.com/vi/V4-faBRwoCc/maxresdefault.jpg"
    gameLabel="Exclusive"
    gameType="Disc Game | PS5 | PS4"
    gamePrice="R$ 299,90"
  ></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/img/rnd/202010/2217/LsaRVLF2IU2L1FNtu9d3MKLq.jpg"
    gameLabel="Hot Sales"
    gameType="Digital Game | PS5 | PS4"
    gamePrice="R$ 209,90"
  ></app-card>
  <div class="smallCards-content">
    <h1>10 melhores jogos no seu país</h1>
    <app-small-cards
      gameTitleSmall="GTA V"
      gameCoverSmall="https://image.api.playstation.com/vulcan/ap/rnd/202202/2816/K6mmm89oNII1iI1aqaClO0wh.png?w=230&thumb=false"
    ></app-small-cards>
    <app-small-cards
      gameTitleSmall="Assassin's Creed Mirage"
      gameCoverSmall="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/phwiQjbJddEg979YucUoP3Vr.png?w=230&thumb=false"
    ></app-small-cards>
    <app-small-cards
      gameTitleSmall="Ea Sports 24"
      gameCoverSmall="https://image.api.playstation.com/vulcan/ap/rnd/202310/0214/c21c0669eaca7f3e02c41cad5e1a20f867aafcf14104f046.png?w=230&thumb=false"
    ></app-small-cards>
    <app-small-cards
      gameTitleSmall="Hogwarts Legacy"
      gameCoverSmall="https://image.api.playstation.com/vulcan/ap/rnd/202011/0919/JmxLZt6exeqcKRz7BSmK8aId.png?w=230&thumb=false"
    ></app-small-cards>
    <app-small-cards
      gameTitleSmall="Red Dead Redemption II"
      gameCoverSmall="https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08519_00/12/i_3da1cf7c41dc7652f9b639e1680d96436773658668c7dc3930c441291095713b/i/icon0.png?w=230&thumb=false"
    ></app-small-cards>
  </div>
</div>
